@using ProductTrack.Models.Entity
@model List<TBL_Products>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>Product ID</th>
        <th>Product Name</th>
        <th>Product Category</th>
        <th>Product Price</th>
        <th>Operation</th>
    </tr>
    <tbody>
        @foreach (TBL_Products product in Model)
        {
            <tr>
                <td>@product.ProductID</td>
                <td>@product.ProductName</td>
                <td>@product.TBL_Categories.CategoryName</td>
                <td>@product.ProductPrice</td>
                <td>
                    <a href="~/Views/Product/Pacify.cshtml/@product.ProductID" class="btn btn-danger"><span class="glyphicon glyphicon-ban-circle"></span></a>
                    <a href="~/Views/Product/Update.cshtml/@product.ProductID" class="btn btn-primary"><span class="glyphicon glyphicon-refresh"></span></a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a href="/Product/AddNewProduct" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span>&nbsp; New Product</a>